body{
    min-height: 100vh;
    width: 100%;
    color: white;
    
    background-image: linear-gradient(to bottom,rgba(4,30,30,0.7),rgba(4,30,30,0.7)),url(images/1.jfif);
    
    
    background-position: center;
    background-size: cover;
    padding: 0;
    position: relative;
}
.hello{
    width: 900px;
    height: 700px;
    color: white;
    background-image:linear-gradient(to bottom,rgba(4,15,15,0.7),rgba(4,15,15,0.7));
    position: relative;
    top: 50%;
    left: 50%;
    

    color: white;
    
    transform: translate(-50%,-20px);
    box-sizing: border-box;
    padding: 60px,30px;
}
.hello h1{
    border: 10px solid white;
    
    padding-top: 0px;
    font-size: 60px;
    text-align: center;
    color: white;
}
.hello1 a{
    font-family: monospace;
    margin: 2%;
    display: inline-block;
    
    border: 4px double white;
    color: white;
    font-size: 60px;
    text-decoration: none;
}
.hello a:hover{
    background-color: red;
    transition: 3s;
}
nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-links{
    
    flex: 1;
    text-align: center;
    
   
    
}
.nav-links ol li{
   
    
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 8px 10px;
    
}
.nav-links ol li a{
    text-decoration: none;
    text-decoration-style: dotted;
    color: white;
    font-size: 30px;
    font-style: italic;
    
    
}
.nav-links ol li a button{
    color: white;
    background-color: transparent;
    font-size: 15px;
    font-style: italic;
    font-display: block;
    
    
    
    

    border-radius: 0px;
    border: 4px bold white;
    background-blend-mode: lighten;
}
.nav-links ol li a button:hover{
    transition:5s;
    background-color: red;
}